.save-button {
    background: #28A745;
    border-color: white;
    color: white;
    width: 100px;
}

.save-button:hover {
    background: white;
    border-color: #28A745 !important;
    color: #28A745 !important;
}

.edit-button {
    width: 100px;
    background: #3459eb;
    border-color: white;
    color: white;
}

.edit-button:hover {
    background: white;
    border-color: #3459eb !important;
    color: #3459eb !important;
}

.loading-button {
    width: 100px;
    background: white;
    border-color: #3459eb !important;
    color: #3459eb !important;
}

.cancel-button {
    width: 100px;
}